<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(${pageTitle})"></head>
<body class="bg-light">

	<div th:replace="sidebar :: sidebar"></div>

	<!-- MAIN CONTENT START -->
	<div class="page">
		<nav th:replace="fragments :: navbar"></nav>
		<div class="section">
			<!--div>
				<h3 class="text-uppercase">Sobre Triagem | [[${pageTitle}]]</h3>
			</div-->

			<div class="card full-widths">
				<div class="card-body">
					<form th:action="@{/laboratorios/save}" method="post" th:object="${laboratorio}">
						<input type="hidden" id="id" th:field="${id}" />
						<input type="hidden" th:field="*{triagem}"/>
						<input type="hidden" th:field="*{laboratorista}"/>
						<input type="hidden" th:field="*{medicoRequisitante}"/>
						<input type="hidden" th:field="*{paciente}" />
						
						<div class="row">
							<div class="col-6">
								<div class="mb-3">
									<div>
										<label for="assistente" class="form-label">Laboratorista :</label>
									</div>
									<div>
										<input type="text" class="form-control" id="medico" th:value="${laboratorio.laboratorista.fullName}" readonly />
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="mb-3">
									<div>
										<label for="medico" class="form-label">Medico Responsavel :</label>
									</div>
									<div>
										<input type="text" class="form-control" id="medico"
											th:value="${laboratorio.medicoRequisitante.fullName}" readonly />	
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-6">
								<div class="mb-3">
									<div>
										<label for="paciente" class="form-label">Utente :</label>
									</div>
									<div>
										<input type="text" class="form-control"
											th:value="${laboratorio.paciente.codeFullNameAge}" readonly />
									</div>
								</div>
							</div>
							
							<div class="col-6">
								<div class="mb-3">
									<div>
										<label for="serieAmostra" class="form-label">Serie da Amostra:</label>
									</div>
									<div>
										<input type="text" class="form-control" id="serieAmostra"
											th:field="*{serieAmostra}" readonly />
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-12">
								<div class="mb-3">
									<div>
										<label for="tipoExame" class="form-label">Tipo de Exame:</label>
									</div>
									<div>
										<select class="form-select" id="typeExam" th:field="*{tipoExame}" 
												multiple style="resize:vertical; height: 90px;">
											<option value="tac1">TAC 1</option>
											<option value="tac2">TAC 2</option>
											<option value="tac3">TAC 3</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row mb-3">
							<input type="hidden" class="form-check-input" id="image">
							<div>
							   <label for="fileImage" class="col-form-label">Resultados de Amostra:</label>
							</div>
							<div>
							    <input type="file" id="fileImage" class="form-control" />
							</div>
						</div>

						<div class="row">
							<div class="col-6">
								<div class="mb-3">
							    	<div>
							    		<label for="horaEntrada" class="form-label">Data e Hora de Entrada:</label>
							    	</div>
								    <div>
								    	<input type="text" class="form-control" id="horaEntrada" 
								    	th:field="*{horaEntrada}" placeholder="Data e Hora de Entrada" readonly />
								    </div>
								</div>
							</div>
							<div class="col-6">
								<div class="mb-3">
							    	<div>
							    		<label for="horaSaida" class="form-label">Data e Hora de Saida:</label>
							    	</div>
								    <div>
								    	<input type="text" class="form-control" id="horaSaida" 
								    	th:field="*{horaSaida}" placeholder="Data e Hora de Entrada" readonly />
								    </div>
								</div>
							</div>
						</div>

						<div class="float-end">
							<button type="submit" class="btn btn-primary">Entrar</button>
							<button type="submit" class="btn btn-success">Liberar Resultado</button>
							<button type="button" class="btn btn-danger" id="btnCancel">Voltar</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	<!-- MAIN CONTENT FINISH -->

	<div th:replace="fragments::modalDialog"></div>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#sintomas").richText();
		});
		moduleURL = "[[@{/triagem}]]";
		checkEmailUrl = "[[@{/wsapi/triagem}]]";
	</script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script type="text/javascript" th:src="@{/js/users_form.js}"></script>
</body>
</html>