<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(${pageTitle})"></head>
<body class="bg-light">
	
	<div th:replace="sidebar :: sidebar"></div>
	
	<!-- MAIN CONTENT START -->
	<div class="page">
		<nav th:replace="fragments :: navbar"></nav>
		<div class="section">
			<div>
				<h3 class="text-uppercase">Gestao de Triagens | [[${pageTitle}]]</h3>
			</div>
			
			<div class="card full-widths">
				<div class="card-body">
				
					<div class="form-center">
						<form th:action="@{/triagem/save}" method="post" th:object="${triagem}">
							<input type="hidden"  id="id" th:field="*{id}"/>
							<div class="form-group row mb-3">
							    <div class="col-md-2">
							    	<label for="assistente" class="form-label">Agente de Saude :</label>
							    </div>
							    <div class="col-md-10">
							    	<input type="text" class="form-control" id="assistente" th:value="${assistente}" readonly="readonly">
							    </div>
							</div>
							<div class="form-group row mb-3">
							    <div class="col-md-2">
							    	<label for="password" class="form-label">Data e Hora de Entrada:</label>
							    </div>
							    <div class="col-md-10">
							    	<input type="text" class="form-control" id="createAt" 
							    th:field="*{createAt}" placeholder="Data e Hora de Entrada" readonly="readonly">
							    </div>
							</div>
							<div class="form-group row mb-3">
							    <div class="col-md-2">
							    	<label for="triagemNumber" class="form-label">Tri. No. :</label>
							    </div>
							    <div class="col-md-10">
							    	<input type="number" class="form-control" id="triagemNumber" th:field="*{triagemNumber}">
							    </div>
							</div>
							
							<div class="form-group row mb-3">
							    <div class="col-md-2">
							    	<label for="sintomas" class="form-label">Sintomas :</label>
							    </div>
							    <div class="col-md-10">
							    	<textarea type="text" class="form-control" id="sintomas" th:field="*{sintomas}"></textarea>
							    </div>
							</div>
							
							
							<div class="form-group row mb-3">
							    <div class="col-md-2">
							    	<label for="paciente" class="form-label">Paciente :</label>
							    </div>
							    <div class="col-md-10">
							    	<input type="text" class="form-control" list="pacienteList" name="pacienteSelect">
							    	<datalist id="pacienteList">
							    		<th:block th:each="paciente : ${pacientes}">
							    			<option>[[${paciente.pacienteTriagemForm}]]</option>
							    		</th:block>
							    	</datalist>
							    	<select class="form-select" th:field="*{paciente}"  data-live-search="true">
							    		<th:block th:each="paciente : ${pacientes}">
							    			<option th:value="${paciente.id}">[[${paciente.pacienteTriagemForm}]]</option>
							    		</th:block>
							    	</select>
							    </div>
							</div>
							
							<div class="float-end">
								<button type="submit" class="btn btn-primary">Salvar</button>
								<button type="button" class="btn btn-danger" id="cancel">Cancelar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!-- MAIN CONTENT FINISH -->
	
	<div th:replace="fragments::modalDialog"></div>
	
	<script type="text/javascript">
		moduleURL = "[[@{/users}]]";
		checkEmailUrl = "[[@{/wsapi/users}]]";
	</script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script type="text/javascript" th:src="@{/js/users_form.js}"></script>
</body>
</html>