<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(${pageTitle})"></head>
<body class="bg-light">
	<div th:replace="sidebar :: sidebar"></div>
	
	<div class="page">
		<nav th:replace="fragments :: navbar"></nav>
		<div class="section">
			<div>
				<h3 class="text-uppercase">[[${pageTitle}]]</h3>
			</div>
			<div class="card full-widths">
				<div class="card-body">
					<!-- MESSAGE START -->
					<div th:if="${message != null}" class="alert alert-sm alert-success d-flex align-items-center">
						<i class="fas fa-circle-check fa-2x"></i> &nbsp;&nbsp;&nbsp;
				    	<div>
						    [[ ${message} ]]
						</div>
					</div>
					<!-- MESSAGE FINISH -->
					<div th:replace="fragments :: utility('/transferencia',${currentPage}, ${keyword})"></div>
					
					<table class="table table-responsive table-bordered table-striped table-hover">
				    	<thead>
				    		<tr>
				    			<th style="width: 90px">ID</th>
				    			<th>Utente</th>
				    			<th>Medico</th>
				    			<th>Status</th>
				    			<th>Data Entrada</th>
				    			<th>Data Alta</th>
				    			<th style="width: 50px"></th>
				    		</tr>
				    	</thead>
				    	<tbody>
				    		<tr th:each="internado : ${internados}">
				    			<td>[[${internado.internadoId}]]</td>
				    			<td>[[${internado.paciente.firstName}]] [[${internado.paciente.lastName}]]</td>
				    			<td>[[${internado.medicoResponsavel.email}]]</td>
				    			<td>[[${internado.status}]]</td>
				    			<td>[[${internado.dataInternamento}]]</td>
				    			<td>[[${internado.dataAlta}]]</td>
				    			<td>
				    				<a th:href="@{'/paciente/'+${internado.paciente.pacienteCode}+'/triagem/'+${internado.triagem.id}+'/internar'}" class="btn btn-sm btn-primary" title="Sobre a Transferencia">
				    					<i class="fas fa-plus-circle"></i>
				    				</a>
				    			</td>
				    		</tr>
				    	</tbody>
				    </table>
					 
				</div>
			</div>
		</div>
	</div>
	<script>
		moduleURL = "[[@{/triagem}]]";
	</script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>