<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(${pageTitle})"></head>
<body class="bg-light">
	
	<div th:replace="sidebar :: sidebar"></div>
	
	<!-- MAIN CONTENT START -->
	<div class="page">
		<nav th:replace="fragments :: navbar"></nav>
		<div class="section">
			<div>
				<h3 class="text-uppercase">Gestao de Usuarios</h3>
			</div>
			<div class="card full-widths">
				<div class="card-body">
				    <div th:if="${message != null}" class="alert alert-success d-flex align-items-center">
				    	<i class="fas fa-circle-check fa-2x"></i> &nbsp;&nbsp;&nbsp;
				    	<div>
						    [[ ${message} ]]
						</div>
				    </div>
				    
				    <div th:replace="fragments::utility('/users', ${currentPage}, ${keyword})"></div>
				    
				    <table class="table table-responsive table-bordered table-striped table-hover">
				    	<thead>
				    		<tr>
				    			<th>#</th>
				    			<th class="text-center">Imagem</th>
				    			<th style="width: 180px">E-mail</th>
				    			<th>Nome</th>
				    			<th>Apelido</th>
				    			<th style="width: 90px">Activo</th>
				    			<th style="width: 110px">Permissoes</th>
				    			<th style="width: 110px"></th>
				    		</tr>
				    	</thead>
				    	
				    	<tbody>
				    		<tr th:each="user : ${users}">
				    			<td class="align-middle">[[ ${user.id} ]]</td>
				    			<td class="text-center">
				    				<img class="img-fluid" th:src="@{/images/default-user.png}"/>
				    			</td>
				    			<td  class="align-middle">[[ ${user.email} ]]</td>
				    			<td  class="align-middle">[[ ${user.firstName} ]]</td>
				    			<td  class="align-middle">[[ ${user.lastName} ]]</td>
				    			<td  class="align-middle">
				    				<a th:if="${user.emailVerificationStatus}" class="btn btn-success btn-sm">
				    					<i class="fas fa-check-circle"></i>
				    					<span>Activo</span>
				    				</a>
				    				<a th:if="${!user.emailVerificationStatus}" class="btn btn-secondary btn-sm">
				    					<i class="fas fa-circle"></i>
				    					<span>Inactivo</span>
				    				</a>
				    			</td>
				    			<td  class="align-middle">[[ ${user.roles} ]]</td>
				    			<td class="text-center align-middle">
				    				<a th:href="@{'/users/edit/'+${user.id}}" class="btn btn-primary btn-sm mb-2">
				    					<i class="fas fa-user-edit"></i>
				    					<span>EDIT</span>
				    				</a>&nbsp;
				    				<a class="btn btn-danger btn-sm link-delete" th:userName="${user.email}" th:userId="${user.id}" th:href="@{'/users/delete/'+${user.id}}">
				    					<i class="fas fa-trash"></i>
				    					<span>DELETE</span>
				    				</a>
				    			</td>
				    		</tr>
				    	</tbody>
				    </table>
				 
				    <div class="text-center m-1 text-uppercase" th:unless="${ totalOfElements > 0}">
				    	Nenhum utilizador encontrado!
				    </div>
				   
				    <th:block th:if="${totalOfElements > 0}">
				    	<nav th:if="${totalOfElements > 0}" th:replace="fragments::pagination('users',${currentPage},${limit},${keyword},${totalOfPages})"></nav>
				    </th:block>
				    
				</div>
			</div>
		</div>
		
	</div>
	<!-- MAIN CONTENT FINISH -->
	
	<div th:replace="fragments::modalConfirmation"></div>
		
	<script type="text/javascript">
		moduleURL = "[[@{/users}]]";
		moduleURLRest = "[[@{/wsapi/users}]]";
		
		$('document').ready(function(){
			
			$('.link-delete').on('click', function(e){
				e.preventDefault();
				
				link = $(this);
				userName = link.attr('userName');
				$('#yesButton').attr('href', link.attr('href'));
				showModalConfirmation("Deseja remover Usuario: "+userName+"?");
			});
			
		});
		
	</script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>