<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(${pageTitle})"></head>
<body>
	
	<div th:replace="sidebar :: sidebar"></div>
	
	<!-- MAIN CONTENT START -->
	<div class="page">
		<nav th:replace="fragments :: navbar"></nav>
		<div class="section">
			
			<div class="card full-widths">
				<div class="card-body">
					<h5 class="card-title">Gestao de Usuarios</h5>
				    
				    
				    <div th:if="${message != null}" class="alert alert-success d-flex align-items-center">
				    	<i class="fas fa-circle-check fa-2x"></i> &nbsp;&nbsp;&nbsp;
				    	<div>
						    [[ ${message} ]]
						</div>
				    </div>
				    
				    <div class="utility mt-5 mb-1">
				    	<a type="button" class="btn btn-primary" th:href="@{/users/new}">
				    		<i class="fas fa-user-plus"></i>
				    		<span>Novo</span>
				    	</a>
						<button type="button" class="btn btn-success">
							<i class="fas fa-file-pdf"></i>
				    		<span>PDF</span>
						</button>
						
						<button type="button" class="btn btn-warning">
							<i class="fas fa-file-csv"></i>
				    		<span>CSV</span>
						</button>
						
						<button type="button" class="btn btn-info">
							<i class="fas fa-file-excel"></i>
				    		<span>EXCEL</span>
						</button>
						
						<form class="float-end">
							<div class="row g-3 align-items-center">
								<div class="col-auto">
								    <label for="inputPassword6" class="col-form-label">Filtrar: </label>
								</div>
								<div class="col-auto">
								    <input type="search" id="search" class="form-control">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
								    	<i class="fas fa-search"></i>
								    </button>
								    <button class="btn btn-secondary" onclick="clearSearchForm();">
								    	<i class="fas fa-eraser"></i>
								    </button>
								</div>
							</div>
						</form>
				    </div>
				    
				    <table class="table table-responsive table-bordered table-striped table-hover">
				    	<thead>
				    		<tr>
				    			<th>#</th>
				    			<th>Imagem</th>
				    			<th>E-mail</th>
				    			<th>Nome</th>
				    			<th>Apelido</th>
				    			<th>Activo</th>
				    			<th>Permissoes</th>
				    			<th style="width: 190px"></th>
				    		</tr>
				    	</thead>
				    	
				    	<tbody>
				    		<tr th:each="user : ${users}">
				    			<td>[[ ${user.id} ]]</td>
				    			<td>[[ ${user.image} ]]</td>
				    			<td>[[ ${user.email} ]]</td>
				    			<td>[[ ${user.firstName} ]]</td>
				    			<td>[[ ${user.lastName} ]]</td>
				    			<td>[[ ${user.emailVerificationStatus} ]]</td>
				    			<td>[Roles]</td>
				    			<td>
				    				<a th:href="@{/}" class="btn btn-primary btn-sm">
				    					<i class="fas fa-user-edit"></i>
				    					<span>EDIT</span>
				    				</a>&nbsp;
				    				<a class="btn btn-danger btn-sm link-delete" th:userName="${user.email}" th:userId="${user.id}" th:href="@{'/users/delete/'+${user.id}}">
				    					<i class="fas fa-trash"></i>
				    					<span>DELETE</span>
				    				</a>
				    			</td>
				    		</tr>
				    	</tbody>
				    </table>
				</div>
			</div>
		</div>
		
	</div>
	<!-- MAIN CONTENT FINISH -->
	
	<!-- MODAL DELETE USER START -->
		<div class="modal fade text-center" id="modalDeleteUser">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Remover Utilizador</h5>
					</div>
					<div class="modal-body">
						<p id="confimationText"></p>
					</div>
					
					<div class="modal-footer">
						<a id="yesButton" th:href="@{/}" class="btn btn-danger btn-sm">
							<i class="fas fa-trash"></i>
							<span>DELETE</span>
						</a>
						<button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">
							<i class="fas fa-close"></i>
							<span>CANCEL</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- MODAL DELTE USER FINISH -->
	
	<script type="text/javascript">
		$('document').ready(function(){
			$('.link-delete').on('click', function(e){
				e.preventDefault();
				
				link = $(this);
				userName = link.attr('userName');
				$('#yesButton').attr('href', link.attr('href'));
				$('#confimationText').text("Deseja remover usuario :"+userName+"?");
				$('#modalDeleteUser').modal('show');
			});
		});
	</script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>