<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- SIDEBAR START-->
	<div class="sidebar active" th:fragment="sidebar">
		<div class="sidebar-header">
			<div class="sidebar-logo">
				<i class="fas fa-user"></i>&nbsp;
				<div class="logo-name">Soccorius</div>
			</div>
			<i class="fas fa-bars" id="btn-bars"></i>
		</div>
		<div class="sidebar-body">
			<!-- NAVBAR START-->
			<nav class="navbar">
				 <ul class="navbar-nav me-auto mb-2">
				 
			        <li class="nav-item">
			          	<a class="nav-link active" aria-current="page" th:href="@{/}">
			          		<i class="fas fa-check-circle"></i>
			          		<span class="link-name">Dashboard<span>
			          	</a>
			          	<span class="tooltip1">Dashboard</span>
			        </li>
			        <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" th:href="@{/users}">
			          		<i class="fas fa-users"></i>
			          		<span class="link-name">Users<span>
			          	</a>
			          	<span class="tooltip1">Users</span>
			        </li>
			        <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" th:href="@{/pacientes}">
			          		<i class="fas fa-users"></i>
			          		<span class="link-name">Pacientes<span>
			          	</a>
			        	<span class="tooltip1">Pacientes</span>
			        </li>
			        <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" th:href="@{/triagem}">
			          		<i class="fas fa-users"></i>
			          		<span class="link-name">Triagem<span>
			          	</a>
			        	<span class="tooltip1">Consultas</span>
			        </li>
			        <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" th:href="@{/laboratorios}">
			          		<i class="fas fa-users"></i>
			          		<span class="link-name">Laboratorio<span>
			          	</a>
			        	<span class="tooltip1">Laboratorio</span>
			        </li>
			         <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" th:href="@{/transferencias}">
			          		<i class="fas fa-users"></i>
			          		<span class="link-name">Transferencia<span>
			          	</a>
			        	<span class="tooltip1">Transferencia</span>
			        </li>
			     
			        <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" th:href="@{/internados}">
			          		<i class="fas fa-users"></i>
			          		<span class="link-name">Internados<span>
			          	</a>
			        	<span class="tooltip1">Internados</span>
			        </li>
			        
			        <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" th:href="@{/obitos}">
			          		<i class="fas fa-users"></i>
			          		<span class="link-name">Obidos<span>
			          	</a>
			        	<span class="tooltip1">Obidos</spa>
			        </li>
			        
			        <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" th:href="@{/encaminhados}">
			          		<i class="fas fa-users"></i>
			          		<span class="link-name">Encaminhamento<span>
			          	</a>
			        	<span class="tooltip1">Encaminhamento</spa>
			        </li>
			        
			        <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" th:href="@{/reports}">
			          		<i class="fas fa-users"></i>
			          		<span class="link-name">Relatorios<span>
			          	</a>
			        	<span class="tooltip1">Relatorios</span>
			        </li>
			     </ul>
			</nav><!-- NAVBAR END-->
		</div>
		
		<!-- PROFILE START-->
		<div class="profile-content">
			<div class="profile">
				<div class="profile-details">
					<img th:src="@{/images/default-user.png}">
					<div class="nameb-job">
						<div class="name">Maltainos</div>
						<div class="job">Java Developer</div>
					</div>
				</div>
				<i class="fas fa-sign-out" id="logout"></i>
			</div>
		</div><!-- PROFILE END-->
	</div><!-- SIDEBAR END-->
</body>
</html>